<div class="col-md-12 canvasButton">
	<div class="col-md-7 canvasButton">
		<button class="btn btn-default" ng-click="drawCanvas()">Click here to plot the pixels.</button>	
	</div>
	<div class="col-md-5 text-right">
		
	</div>
</div>
<div class="col-md-11">	
	<div class="col-md-4 divCentral" ng-repeat="canvas in headers track by $index" id="{{setDivId($index)}}" ng-click="sortCanvas($index)">
		<p id="{{setParagraphId($index)}}" ng-bind="headers[$index]"></p>
		<canvas class="canvas" id="{{setCanvasId($index)}}"></canvas>
	</div>
</div>
