body { padding-top:30px; }

.divCentral{
	min-height: 170px;
}
.canvas{
	width: 300px;
	height: 300px;
	background-color: #d8e7ff;
}

.canvasButton{
	padding-bottom: 20px;
}

.canvasScale{
	border: 1px solid #d3d3d3;
}